@import 'tailwindcss';

@theme inline {
  --color-primary: #dc2626; /* red-600 */
  --color-primary-hover: #b91c1c; /* red-700 */
  --color-background: #ffffff;
  --color-foreground: #171717;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    @apply antialiased;
  }
}
